# Dependencies
node_modules
/dist
/es
/lib
/typings
/resolver-dist
packages/ant-design-x-vue/dist
packages/ant-design-x-vue/es
packages/ant-design-x-vue/lib
packages/ant-design-x-vue/typings
packages/ant-design-x-vue/resolver-dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production


# System Files
.DS_Store

# Package Manager
.pnpm-debug.log*

# Bundle
dist
coverage

# local env files
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
.vitepress/cache
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
